.serviceframe {
  display: flex;
  flex-direction: column;
  background-color: var(--palettes-midnight-ui-surface);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  align-self: stretch;
  padding: 10%;
  max-height: 100%;
  max-width: 100%;
}
.dashboard,
.serviceframeParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.serviceframeParent {
  flex: 1;
  flex-direction: column;
  max-width: calc(100% - 188px);
}
.dashboard {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--palettes-midnight-ui-surface);
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(
    --playfair-display-source-sans-pro-text-base-font-semibold-size
  );
  color: var(--palettes-midnight-text-default);
  font-family: var(--playfair-display-source-sans-pro-text-xs-font-semibold);
}

.cardsGrid,
.content {
  display: flex;
  justify-content: center;
}
.cardsGrid {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: 24px 20px;
  max-width: 100%;
  text-align: left;
  font-size: var(--playfair-display-fira-sans-text-sm-font-regular-size);
  font-family: var(--playfair-display-fira-sans-text-xs-font-regular);
}
.content {
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-base);
  max-width: 1440px;
  text-align: center;
  font-size: var(--playfair-display-fira-sans-text-5xl-font-bold-size);
  color: var(--palettes-midnight-text-default);
  font-family: var(--playfair-display-fira-sans-text-5xl-font-bold);
}

@media screen and (max-width: 1450px) {
  .content {
    max-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .serviceframe {
    padding-top: var(--padding-134xl);
    padding-bottom: var(--padding-134xl);
    box-sizing: border-box;
  }
  .serviceframeParent {
    max-width: 100%;
  }
  .dashboard {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .serviceframe {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .serviceframe {
    gap: var(--gap-xl);
    padding-top: var(--padding-80xl);
    padding-bottom: var(--padding-80xl);
  }
}
