a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.awaits,
.devToProd {
  margin: 0;
}
.heading,
.subheading {
  margin: 0;
  width: 1131px;
  position: relative;
  max-width: 100%;
}
.heading {
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 108%;
  font-weight: 900;
  font-family: inherit;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.subheading {
  font-size: var(--font-size-3xl);
  line-height: 31px;
  font-weight: 400;
  font-family: var(--playfair-display-lato-text-sm-font-regular);
  display: inline-block;
}
.hero,
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hero {
  align-self: stretch;
  align-items: center;
  padding: 350px var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  background-image: url(/public/images/hero@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: center;
  font-size: var(--playfair-display-lato-text-6xl-font-bold-size);
  color: var(--color-gray-100);
  font-family: var(--playfair-display-fira-sans-text-5xl-font-bold);
}
.presentation {
  max-width: 100%;
  position: relative;
  background-color: var(--palettes-midnight-ui-surface);
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .hero {
    padding-top: var(--padding-208xl);
    padding-bottom: var(--padding-208xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .heading {
    font-size: var(--font-size-39xl);
    line-height: 62px;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-24xl);
    line-height: 47px;
  }
  .subheading {
    font-size: var(--playfair-display-fira-sans-text-lg-font-semibold-size);
    line-height: 25px;
  }
  .hero {
    padding-top: var(--padding-129xl);
    padding-bottom: var(--padding-129xl);
    box-sizing: border-box;
  }
}
